{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
{% for block in page.body %}
{% if block.block_type == 'card_block_list' %}
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for card in block.value %}
    {{ card }}
    {% endfor %}
</div>
{% elif block.block_type == 'textblock' %}
<span style="text-align: center; margin: 20px;">{{ block }}</span>
{% elif block.block_type == 'gallery' %}
<div style="margin: auto; padding: auto;">
    {% for img in block.value %}
    <div style="display: contents;">
        {% image img width-400 height-220 as photo %}
        <img src="{{photo.url}}" alt="" data-enlargeable width="350" height="220" style="margin: 10px; cursor: zoom-in">
    </div>
    {% endfor %}
</div>
{% else %}
{{ block }}
{% endif %}
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock content %}