{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
{% for block in page.body %}
{% if block.block_type == 'card_block_list' %}
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for card in block.value %}
    {{ card }}
    {% endfor %}
</div>
{% elif block.block_type == 'textblock' %}
<span style="text-align: center; margin: 20px;">{{ block }}</span>
{% elif block.block_type == 'gallery' %}
<div style="margin: auto; padding: auto;">
    {% for img in block.value %}
    <div style="display: contents;">
        {% image img width-400 height-220 as photo %}
        <img src="{{photo.url}}" alt="" data-enlargeable width="350" height="220" style="margin: 10px; cursor: zoom-in">
    </div>
    {% endfor %}
</div>
{% else %}
{{ block }}
{% endif %}
{% endfor %}
<div style="display: flex;">
    <div>
        <h5>Чтобы записаться на консультацию, введите свои данные.</h5>
        <p>На Вашу почту придут дальнейшие инструкции</p>
        <form>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Ваше имя (обязательно)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div> -->
            </div>
            <div class="mb-3">
                <label for="InputTelegram" class="form-label">Ваш ник в телеграмме через @
                    (обязательно)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div> -->
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Ваш e-mail (обязательно)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ваш телефон через +375 (обязательно)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!-- <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div> -->
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Комментарий</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Записаться на консультацию</button>
        </form>
    </div>
    <div>
        фото туттттт
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock content %}