{% load wagtailimages_tags %}

<div class="card border-none mb-3" style="border: 0; padding-left: 150px; padding-right: 150px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ value.title }}</h3>
                <p class="card-text">{{ value.text }}</p>
            </div>
        </div>
        <div class="col-md-4" style="display: contents;">
            {% image value.image width-200 as photo %}
            <img src="{{ photo.url }}" alt="Image" width="200" height="200" style="border-radius: 1000px;">
        </div>
    </div>
</div>

